
/* header start */

#header-navbar {
    background: #000000;
    color: #ffffff;
    box-shadow: 0px 1px 3px 0 rgba(0, 0, 0, 0.1);
}

#header-navbar .nav > li > a {
    color: #ffffff;
}

.navbar-nav .open .dropdown-menu {
    background-color: #FFFFFF;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
}

#header-navbar .nav > li > a:hover,
#header-navbar .nav > li > a:focus,
#header-navbar .nav .open > a,
#header-navbar .nav .open > a:hover,
#header-navbar .nav .open > a:focus,
.navbar-toggle:hover,
.navbar-toggle:focus{
    background: #000000;
}

/* content start */
#content-wrapper {
    background: #f1f3f7;
    border-left: 2px solid #dce1e4;
}

.breadcrumb li,.breadcrumb  a {
    color: #262626;
}

.main-box {
    background: #FFFFFF;
    box-shadow: 1px 1px 2px 0 #CCCCCC;
}

.main-box .main-box-header.with-border {
    border-bottom: 1px solid #ecf0f1;
}

/* nav start */
#nav-col {
    background: #E8EBF2;
}

#sidebar-nav .nav > li > a {
    color: #16191c;
}

#sidebar-nav .nav > li > a:hover {
    border-left-color: #000000;
    color: #000000;
}

#sidebar-nav .nav > li.open > a {
    border-bottom-color: #252525;
}

#sidebar-nav .nav li > a.dropdown-toggle > .drop-icon {
    color: #000000;
}

#sidebar-nav .nav li.open > a.dropdown-toggle > .drop-icon,
#sidebar-nav .nav li.active > a.dropdown-toggle > .drop-icon {
    color: #000000;
}

#sidebar-nav .nav li .submenu {
    background: #E8EBF2;
}

#sidebar-nav .nav li .submenu > li > a {
    color: #16191c;
}

#sidebar-nav .nav li .submenu > li > a:hover,
#sidebar-nav .nav li .submenu > li > a.active,
#sidebar-nav .nav li .submenu > li.active > a {
    color: #ffffff;
    background-color: #757575;
}

#sidebar-nav .nav > .open > .submenu > .open > a,
#sidebar-nav .nav > .active > .submenu > .open > a,
#sidebar-nav .nav > .active > .submenu > .active > a {
    border-bottom-color: #E8EBF2;
    box-shadow: 0 -1px 0 #E8EBF2 inset;
}

#sidebar-nav .nav > .open > .submenu > li > .submenu,
#sidebar-nav .nav > .active > .submenu > li > .submenu {
    background-color: #E8EBF2;
}

#sidebar-nav .nav > .open > .submenu > li > .submenu > li a:hover,
#sidebar-nav .nav > .active > .submenu > li > .submenu > li a:hover {
    color: #ffffff;
}

#sidebar-nav .nav > .active > .submenu > li > .submenu > li a.active {
    color: #FFFFFF;
}

#sidebar-nav .nav-pills > li.active > a,
#sidebar-nav .nav-pills > li.active > a:hover,
#sidebar-nav .nav-pills > li.active > a:focus,
.nav-small #nav-col #sidebar-nav .nav-pills > li.open > a {
    background-color: #E8EBF2;
    color: #000000;
    border-left-color: #000000;
}

#sidebar-nav .nav-pills > li.active > a > i {
    color: #000000;
}


#sidebar-nav .nav li .submenu > li > a:hover {
    background-color: #757575;
    color: #ffffff;
}

#sidebar-nav .nav li .submenu > li > a.active,
#sidebar-nav .submenu > li.active > a.active {
    background-color: #5a5a5a;
    color: #FFFFFF;
}

.nav-small #nav-col #sidebar-nav .nav-pills > li.open > a:hover {
    color: #000000;
}

.txRate {
    color:#000000
}

.rxRate {
    color:#000000
}

.red {
    color:#000000
}

.green {
    color:#000000
}
