@font-face {
	font-family: 'logoshow';
	src:url('../fonts/logoshow.eot?rb16vq');
	src:url('../fonts/logoshow.eot?#iefixrb16vq') format('embedded-opentype'),
		url('../fonts/logoshow.woff?rb16vq') format('woff'),
		url('../fonts/logoshow.ttf?rb16vq') format('truetype'),
		url('../fonts/logoshow.svg?rb16vq#logoshow') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="logoshow-"], [class*=" logoshow-"] {
	font-family: 'logoshow';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.logoshow-small:before {
	content: "\e602";
}
.logoshow-company:before {
	content: "\e600";
}

@font-face {
	font-family: 'wifipower';
	src:url('../fonts/wifipower.eot?selz6y');
	src:url('../fonts/wifipower.eot?#iefixselz6y') format('embedded-opentype'),
		url('../fonts/wifipower.woff?selz6y') format('woff'),
		url('../fonts/wifipower.ttf?selz6y') format('truetype'),
		url('../fonts/wifipower.svg?selz6y#wifipower') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="wifi-"], [class*=" wifi-"] {
	font-family: 'wifipower';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.wifi-lowest:before {
	content: "\e600";
}
.wifi-lower:before {
	content: "\e601";
}
.wifi-low:before {
	content: "\e602";
}
.wifi-full:before {
	content: "\e603";
}

@font-face {
	font-family: 'device';
	src:url('../fonts/device.eot?-o552gy');
	src:url('../fonts/device.eot?#iefix-o552gy') format('embedded-opentype'),
		url('../fonts/device.ttf?-o552gy') format('truetype'),
		url('../fonts/device.woff?-o552gy') format('woff'),
		url('../fonts/device.svg?-o552gy#device') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="device-"], [class*=" device-"] {
	font-family: 'device';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.device-advance:before {
	content: "\e600";
}
.device-repeater:before {
	content: "\e601";
}
.device-ap:before {
	content: "\e602";
}
.device-more:before {
	content: "\e603";
}
.device-router:before {
	content: "\e604";
}
.device-lock:before {
	content: "\e605";
}

@font-face {
	font-family: 'acmore';
	src:url('../fonts/acmore.eot?y99mi2');
	src:url('../fonts/acmore.eot?y99mi2#iefix') format('embedded-opentype'),
		url('../fonts/acmore.ttf?y99mi2') format('truetype'),
		url('../fonts/acmore.woff?y99mi2') format('woff'),
		url('../fonts/acmore.svg?y99mi2#acmore') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="acmore-"], [class*=" acmore-"] {
	font-family: 'acmore';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.acmore-welcome:before {
	content: "\e900";
}
.acmore-logo:before {
	content: "\e901";
}
.acmore-menu:before {
	content: "\f0ca";
}
.acmore-left:before {
	content: "\f104";
}
.acmore-right:before {
	content: "\f105";
}
.acmore-up:before {
	content: "\f106";
}
.acmore-down:before {
	content: "\f107";
}
.acmore-more:before {
	content: "\e603";
}

@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?ef9dg7');
	src:url('../fonts/icomoon.eot?ef9dg7#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.ttf?ef9dg7') format('truetype'),
		url('../fonts/icomoon.woff?ef9dg7') format('woff'),
		url('../fonts/icomoon.svg?ef9dg7#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-FAST-DIAL:before {
	content: "\e600";
}
.icon-FAST-SET:before {
	content: "\e601";
}
.icon-INTER:before {
	content: "\e602";
}
.icon-NET-WORK:before {
	content: "\e606";
}
.icon-TOP001:before {
	content: "\e608";
}
.icon-TOP-CD:before {
	content: "\e609";
}
.icon-tx:before {
	content: "\e60a";
}
.icon-UNLOCK:before {
	content: "\e60b";
}
.icon-USER:before {
	content: "\e60c";
}
.icon-uniE610:before {
	content: "\e610";
}
.icon-uniE611:before {
	content: "\e611";
}
.icon-uniE613:before {
	content: "\e613";
}
.icon-uniE61C:before {
	content: "\e61c";
}
.icon-uniE61D:before {
	content: "\e61d";
}
.icon-uniE61E:before {
	content: "\e61e";
}
.icon-uniE621:before {
	content: "\e621";
}
.icon-uniE622:before {
	content: "\e622";
}
