body {
    font-size: 14px;
    background: #ffefe4;
    margin: 0;
}

p {
    margin: 2px 0;
}

.wxpay {
    width: 400px;
    margin: 60px auto 0 auto;
    position: relative;
}

.wxpay_head, .wxpay_body {
    text-align: center;
}

.wxpay_head {
    position: relative;
    height: 32px;
    padding: 14px 20px;
    background-color: #f5f5f5;
}

.wxpay_head .title {
    margin: 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    color: #424242;
}

.wxpay_body {
    height: 360px;
    padding: 0 30px;
    position: relative;
    text-align: center;
    background: #ffffff;
}

.wxpay_body .code {
    height: 260px;
    margin-bottom: 20px;
}

.wxpay_body .code img {
    padding-top: 30px;
    margin: 0 auto;
}

.wxpay_body .msg {
    text-align: left;
}

.wxpay_body .msg span {
    margin: 0 6px;
}

.example {
    position: absolute;
    top: -30px;
    left: -300px;
}


@media (max-width: 767px){
    .wxpay {
        width: 100%;
        margin: 0;
    }
    .wxpay_body {
        height: 100%;
    }
}
